[Unit]
Description=ruuvitag-collector
After=dbus.socket bluetooth.target network.target
Wants=bluetooth.target

[Service]
EnvironmentFile=/etc/default/ruuvitag-collector
ExecStart=/home/janne/.cargo/bin/bt-sensor --devicemap /etc/ruuvitag-collector/devicemap.json --consumer influxdb --interval 10
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
