[Unit]
Description=ruuvitag-collector
After=dbus.socket bluetooth.target network.target
Requires=bluetooth.target

[Service]
EnvironmentFile=/etc/default/ruuvitag-collector
ExecStart=/opt/ruuvitag-collector/target/release/bt-sensor --devicemap /etc/ruuvitag-collector/devicemap.json --consumer influxdb --interval 10
KillMode=control-group
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
